%li.pr-5{:id => "user-#{user.id}"}
  .media
    = image_tag "logo_stripped.png", class: "micropost-img"
    .media-body.ml-3.w-100
      .d-flex
        %h5.micropost-name.pr-1
          = link_to user.name, user_path(user), class: "micropost-name profile-link"
        %h5.micropost-handle.pr-1= "@#{user.handle}"
        - if current_user.id == @user.id && @user.following?(user)
          %h6.pb-0.mb-0
            = link_to "unfollow", relationship_url(current_user.active_relationships.find_by(followed_id: user.id).id), method: :delete, remote: true, class: "profile-link-accent"
