<div class="container-fluid bg-main h-100">
  <div class="row h-100">
    <div class="col-md-3 offset-md-2">
      <div class="login-surface mt-3">
        <div class="row">
            <div class="col-md">
              <div class="media">
                <%= image_tag @user.picture? ? @user.picture.url : "logo_stripped.png", class: "profile-img"%>
                <div class="media-body ml-3 w-100">
                  <div class="d-flex flex-column">
                  <div>
                    <h4 class="mb-0"><%= @user.name%></h4>
                  </div>
                    <div>
                      <span class="profile-posts-length"><%= @user.microposts.count %></span>
                      <span class="profile-posts-label"><%= "post".pluralize(@user.microposts.count)%></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>  
        <%= render 'follow_stats'%>
        <% if @user.id != current_user.id %>
           <%= render 'follow_form' if signed_in? %>
        <% end %>
      </div>  
    </div>
        <div class="col-md-6">
          <div class="login-surface mt-3">
            <% if @user.microposts.any? %>
              <span class="h4-reg pr-2"><%= "#{@user.name}'s posts" %></span>
              <ol class="microposts pt-3">
                <%= render @microposts %>
              </ol>
            <% end %>
        </div>
    </div>
  </div>
</div>
