<% provide(:title, @title) %>

<div class="container-fluid bg-main h-100">
  <div class="row h-100">
    <div class="col-md-3 offset-md-1">
      <div class="login-surface mt-3">
        <div class="row no-gutters">
            <div class="col-3">
                <%= image_tag "logo_stripped.png", class: "w-75"%>
            </div>
            <div class="col-9">
                <h4 class="mb-0"><%= @user.name%></h4>
                <h5 class="mb-0"><%= link_to "View my profile", current_user, class: "profile-link"%></h5>
                <span class="profile-posts-length"><%= @user.microposts.length%></span>
                <span class="profile-posts-label"><%= "post".pluralize(@user.microposts.length)%></span>
            </div>
        </div>
        <%= render 'follow_stats'%>
      </div>  
    </div>
        <div class="col-md-6 offset-md-2">
          <div class="login-surface mt-3">
            <h4><%= @title %></h4>
            <% if @users.any? %>
              <ul class="microposts pt-3">
                <%= render @users %>
              </ul>
            <% end %>
        </div>
    </div>
  </div>
</div>
