<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 offset-lg-2">
      <div class="login-surface mt-3">
        <div class="row">
            <div class="col-lg">
              <div class="media">
                <%= image_tag current_user.picture? ? current_user.picture.url : "logo_stripped.png", class: "profile-img"%>
                <div class="media-body ml-3 w-100">
                  <div class="d-flex flex-column">
                  <div>
                    <h4 class="mb-0"><%= current_user.name%></h4>
                  </div>
                  <div>
                    <h5 class="mb-0"><%= link_to "View my profile", current_user, class: "profile-link"%></h5>
                  </div>
                    <div>
                      <span class="profile-posts-length"><%= current_user.microposts.count %></span>
                      <span class="profile-posts-label"><%= "post".pluralize(current_user.microposts.count)%></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <%= render 'users/follow_stats'%>
        <% if user_signed_in? %>
            <div class="row">
                <aside class="col-lg">
                    <section class="micropost_form">
                        <%= render 'shared/micropost_form' %>
                    </section>
                </aside>
            </div>
        <% else %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6 offset-lg">
        <div class="login-surface mt-3">
            <% if @type == :selected %>
                <span class="h4-reg pr-2">Posts by you and your followers</span>
                <span><%= link_to "View all posts", home_all_path, class: "micropost-name profile-link" %></span>
            <% elsif @type == :all %>
                <span class="h4-reg pr-2">Posts by everyone</span>
                <span><%= link_to "View posts from your followers only", home_index_path, class: "micropost-name profile-link" %></span>
            <% end %>
            <%= render 'shared/feed' %>
        </div>
    </div>
  </div>
</div>
