<div class="container-fluid bg-main">
  <div class="row">
    <div class="col-md-3 offset-md-1">
      <div class="login-surface mt-3">
        <div class="row no-gutters">
            <div class="col-3">
                <%= image_tag "logo_stripped.png", class: "w-75"%>
            </div>
            <div class="col-9">
                <h4 class="mb-0"><%= current_user.name%></h4>
                <h5 class="mb-0"><%= link_to "View my profile", current_user, class: "profile-link"%></h5>
                <span class="profile-posts-length"><%= current_user.microposts.length%></span>
                <span class="profile-posts-label"><%= "post".pluralize(current_user.microposts.length)%></span>
            </div>
        </div>
        <%= render 'users/follow_stats'%>
        <% if user_signed_in? %>
            <div class="row">
                <aside class="col-md">
                    <section class="micropost_form">
                        <%= render 'shared/micropost_form' %>
                    </section>
                </aside>
            </div>
        <% else %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 offset-md-2">
        <div class="login-surface mt-3">
            <% if @type == :selected %>
                <span class="h4-reg pr-2">Posts by you and your followers</span>
                <span><%= link_to "View all posts", home_all_path, class: "micropost-name profile-link" %></span>
            <% elsif @type == :all %>
                <span class="h4-reg pr-2">Posts by everyone</span>
                <span><%= link_to "View posts from your followers only", home_index_path, class: "micropost-name profile-link" %></span>
            <% end %>
            <%= render 'shared/feed' %>
        </div>
    </div>
  </div>
</div>
