<li id="micropost-<%= micropost.id %>" class="pr-5">
    <div class="media">
        <%= image_tag micropost.user.picture? ? micropost.user.picture.url : "logo_stripped.png", class: "micropost-img"%>
        <div class="media-body ml-3 w-100">
            <div class="d-flex">
                <h5 class="micropost-name pr-1"> <%= link_to micropost.user.name, user_path(micropost.user), class: "micropost-name profile-link" %></h5>
                <h5 class="micropost-handle pr-1"><%="@#{micropost.user.handle}"%></h5>
                <h5 class="micropost-timestamp pr-2"><%= time_ago_in_words(micropost.created_at) %></h5>
                <% if current_user.id == micropost.user.id %>
                    <h6 class="pb-0 mb-0"><%= link_to "delete", micropost, method: :delete, class: "profile-link-accent" %> </h6>
                <% end %>
            </div>
            <p class="micropost-content"><%= micropost.content %></p>
            <%= image_tag micropost.picture.url, class: "pb-5" if micropost.picture? %>
        </div>
    </div>
</li>
